<h1><%= t('views.common.title_edit', name: Report.model_name.human) %></h1>

<%= render 'form', user: @report.user, report: @report %>

<%= link_to t('views.common.show'), report_path(@report) %> |
<%= link_to t('views.common.back'), reports_path %>
